<input style="display:none;" type="text" (change)="getName(name.value)" #name /> <br />

<div class="container-fluid mt-4 col-8 align-items-center bg-light rounded">
  <div class="card align-items-center">
    <div class="card-body">
      <h1>VERIFI ML Utility Bill Reader</h1>
      <p class="mt-3">Please select a PDF to extract information from:</p>
      
      <button type="button" class="btn btn-primary col-6-sm col-4-md col-3-lg" (click)="getFile($event)">
      Choose File
      </button>
      
      <br/>
      <p *ngIf="fileName">{{ fileName }}</p>
      <small>Only .pdf files accepted   </small>
      <br/>
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary mt-3 col-6-sm col-4-md col-3-lg" type="button" (click)="submitData()">
          Upload PDF
        </button> 
        <button *ngIf="isFileAvailable" class="btn btn-success mt-3 col-6-sm col-4-md col-3-lg text-end" (click)="downloadFile()">
          Download Excel
        </button>
      </div>
      <div *ngIf="errorMessage" class="error" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success" style="color: green; margin-top: 10px;">
        {{ successMessage }}
      </div>
    </div>
  </div>
</div>
