Flask
Werkzeug
gunicorn
openpyxl
pandas
numpy
scikit-learn
scipy
requests
python-dotenv
PyYAML
pytz
pdftext
pillow
transformers
torch
annotated-types
anyio
beautifulsoup4
cachetools
charset-normalizer
click
filelock
filetype
fsspec
ftfy
google-auth
google-genai
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
markdown2
markdownify
networkx
packaging
pydantic
pydantic-settings
pypdfium2
python-dateutil
RapidFuzz
regex
rsa
safetensors
soupsieve
sympy
threadpoolctl
tokenizers
tqdm
triton
typing-extensions
typing-inspection
urllib3
virtualenv
wcwidth
websockets